{
    "plugins": [
        [
            "transform-react-jsx", {
                "pragma": "h"
            }
        ],
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "babel-plugin-styled-components"
    ],
    "presets": [
        ["env", {
            "targets": {
                "node": "6"
            }
        }]
    ]
}